<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right" style="margin-top: 20px">
      <li style="padding-right: 20px; padding-top: 7px">
        You are logged in as <b>{{currentUser.username}}</b>
      </li>
      <li style="padding-right: 20px">
        <input type="submit" class="btn btn-info" value="{{navButtonText}}" ng-click="manageUsers()" ng-show="currentUser.role == 0" />
      </li>
      <li>
        <input type="submit" class="btn btn-danger" value="Log out" ng-click="logout()" />
      </li>
    </ul>
  </nav>
  <h3 class="text-muted">List of available events</h3>
</div>
<hr>
