<div class="container">
  <page-header></page-header>
  <div class="container user-manage">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Username</th>
          <th>Password</th>
          <th style="text-align: center">Active</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users | orderBy: 'username'" ng-click="selectUser(user)">
          <td class="col-lg-2">{{user.username}}</td>
          <td class="col-lg-4">
            <input type="text" class="form-control" placeholder="Password..." ng-model="user.password">
            <!--<a editable-text="user.password" >{{ user.password || "empty" }}</a>-->
          </td>
          <td class="col-lg-4">
            <!--           <div class="squaredOne">
              <input type="checkbox" value="None" id="{{user.username}}" name="check" ng-model="user.enabled" />
              <label for="{{user.username}}"></label>
                <input type="submit" class="btn btn-success" value="Save Changes" ng-click="saveUsers(user)"  ng-show="user==selectedUser"/>
            </div>   -->
            <div class="activColumn" align="center">
              <toggle-switch ng-model="user.enabled" on-label="Active" off-label="Deactive" class="switch-success" id="{{user.username}}">
              </toggle-switch>
              <input type="submit" class="btn btn-success" value="Save Changes" ng-click="saveUsers(user)" ng-show="user==selectedUser" ng-animate="savebutton" />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
